<h3>SEDE Queries</h3>
<p>These queries provide the data source for collecting lists of things for community moderation to review.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-muted">ID</th>
      <th>Data URL</th>
      <th>Last retrieved</th>
      <th>Owner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @queries.each do |q| %>
      <tr>
        <td class="text-muted"><%= q.id %></td>
        <td><%= q.url %></td>
        <td><%= time_ago_in_words q.last_fetch %> ago</td>
        <td><%= User.with_role(:query_owner, q).first.id %></td>
        <td><%= link_to 'Details', sede_query_path(q) %></td>
      </tr>
    <% end %>
  </tbody>
</table>